@model Assignment3.Models.Teacher
@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List" style="margin-right: 15px; float: left">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.teacherfname @Model.teacherlname?" style="color: red ; float:right" >Delete</a>
        <a class="navlink" href="/Teacher/Update/@Model.teacherid">Update</a>
    </nav>
    <h2>@Model.teacherfname @Model.teacherlname</h2>
    <p>Hire Date = @Model.hiredate</p>
    <p>Salary = @Model.salary</p>
    <p>Employee Number = @Model.employeenumber</p>
</div>
